.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;
height: 48px;
top: 204px;
left: 1162px;
gap: 0px;
opacity: 0px;
border: 2px solid red;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
